body{background-image:url(/img/fondescalade2.jpg); 
	background-repeat:repeat-y; 
	background-attachment: fixed;
	background-size: 100% auto;
	min-width: 510px
}

h1{color:rgba(255, 255, 255, 1);
	font-weight:100;
	font-size:350%;
	text-shadow:0px 2px 4px rgba(0, 0, 0, 1)
}


h2{color:rgba(255, 255, 255, 1);
	font-weight:500;
	font-size:180%; 
	text-shadow:0px 2px 4px rgba(0, 0, 0, 1)
}

